# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# beanstalld specific files
beanstalkd/Makefile
beanstalkd/beanstalkd
beanstalkd/config.h
beanstalkd/config.log
beanstalkd/config.status
beanstalkd/stamp-h1
